<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= form_for @hashtag, class: 'form-horizontal'  do |f| %>
      <h4>Enter a hashtag (without the prefix #)</h4>
      <div class="form-group">
          <%= f.text_field :name %>
      </div>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h4>Recent Hashtags</h4>

    <% @existing_hashtags.each do |existing_hashtag| %>
      <%= link_to "##{existing_hashtag.name}", hashtag_path(name: existing_hashtag.name), class: 'existing-hashtag'  %>
    <% end %>
  </div>
</div>