<%= link_to "Back to Home", root_path, class: "btn btn-primary", id: 'hashtag-show-back-btn'  %>

<h3 id='hashtag-name' data-hashtag-id="<%= @hashtag.id %>"><%= "##{@hashtag.name}"  %></h3>

<div id="tweets-container">
  <% unless @tweets.blank? %>
    <% @tweets.each do |tweet| %>
      <%= render partial: 'tweet', locals: { tweet: tweet} %>
    <% end %>
  <% end %>
</div>